body {
  padding: 20px;
  text-align: center;
  font-family: SF Mono, monospace;
}

img {
  width: 100px;
  border-radius: 100px;
}

h1 {
  font-weight: 900;
  margin: 0;
  font-size: 14px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  gap: 20px;
}

a.button {
  color: #000;
  border: solid 1px #000;
  font-weight: 500;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  width: 60%;
}

a.button:hover {
  transform: scale(1.02);
}