body {
  margin-top: 50px;
  background: #F7F7F7;
}

p {
  color: #666;
  font-weight: 300;
  font-family: adobe-clean, "HelveticaNeue-light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  background: #FAFAFA;
  border: solid 1px #E7E2DE;
  padding: 20px;
  box-shadow: 1px 1px 8px rgb(230, 230, 230);
  margin-bottom: 20px;
}

.wrapper .header {
  border-bottom: solid 1px #E7E2DE;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.work { padding: 20px 0 0 0; }

.work p, .work h6 {
  padding: 0 20px 0 20px;
}

.work img { margin-bottom: -2px; }

.avatar-frame, .avatar-frame img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  float: left;
  margin: -6px 15px 0 0;
}

.resume h4.category {
  border-bottom: solid 1px #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.resume h5 {
  margin: 0;
}

.resume .meta {
  margin: 5px 0 5px 0;
  font-size: 90%;
}

.resume .item p:last-of-type {
  margin-bottom: 15px;
}

.resume ul {
  list-style-type: square;
  margin-left: 15px;
}
